@import "fonts";
@import "libs";
@import "vars";

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:before, &:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}

*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}

*:-moz-placeholder {
	color: #666;
	opacity: 1;
}

*::-moz-placeholder {
	color: #666;
	opacity: 1;
}

*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	color: #666;
}
body input:required:valid,
body textarea:required:valid {
	color: #666;
}

html, body {
	height: 100%;
}


body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.75;
	font-family: $default-font;
	overflow-x: hidden;
	opacity: 1;

#home{
	position: relative;
	height: 100vh;
	z-index: 100;
	border-top: 1px solid transparent;
	overflow: hidden;
	video {
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		transform: translateX(-50%) translateY(-50%);
		background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
		background-size: cover;
		transition: 1s opacity;
	}
	.head{
		padding-top: 15px;
		position: fixed;
		transition: .3s;
		background-color: rgba(0, 0, 0, 0.3);
		.logo{
			img{
				height: 40px;
			}
		}
		#navbarNav{
			transition: .3s;
		}
		.navbar{

			padding-top: 0;
			li{
				margin-right: 10px;
			}
			a{
				padding-top: 5px;
				color: white;
				text-decoration: none;

			}
			.active{
				border-top: 2px solid #30c1ff;
			}
		}

	}
	h1{
		margin-top: 70%;
		color: white;
		text-shadow: 1px 1px 10px black;
	}
	p{
		color: white;
		margin-top: 20px;
		text-shadow: 1px 1px 10px black;
	}
	button{
		margin-left: 15px;
		background-color: transparent;
		border: 1px solid white;
		color: white;
		border-radius: 5px;
		transition: .3s;
		cursor: pointer;
		a{
			display: block;
			color: white;
			text-decoration: none;
		}
		&:hover{
			box-shadow: inset 0 0 50px #30c1ff;
		}
	}

}

	#second{
		position: relative;
		padding: 120px 0;
		.line1{
			 margin: 20px auto;
			 width: 140px;
			 border-bottom: 2px solid #30c1ff;
		 }
		.line2{
			margin: 20px auto;
			width: 100px;
			border-bottom: 2px solid #30c1ff;
		}
		.features{
			box-shadow: 0 0 2px grey;
			padding-left: 15px;
			padding-right: 15px;
			border-top: 1px solid transparent;
			margin-top: 60px;

			.features-icon {
				border: 1px solid #30c1ff;
				width: 60px;
				height: 60px;
				margin: 0 auto;
				margin-top: -30px;
				background-color: #30c1ff;
				border-radius: 50%;
				margin-bottom: 10px;
				img {
					display: block;
					margin: 0 auto;
					margin-top: 10px;
					width: 40px;
					height: 40px;
				}
			}
		}
	}


	#three {
		padding: 120px 0;
		background-color: #e9ebea;

		h2 {
			margin-bottom: 20px;
		}
		button {
			background-color: transparent;
			border: 1px solid black;
			border-radius: 5px;
			outline: none;
			transition: .3s;
			cursor: pointer;
			&:hover {
				box-shadow: inset 0 0 50px #30c1ff;
			}
		}
		img{
			width: 100%;
		}
	}

	#four{
		padding: 120px 0;
		.line1{
			margin: 20px auto;
			width: 140px;
			border-bottom: 2px solid #30c1ff;
		}
		.line2{
			margin: 20px auto;
			width: 100px;
			border-bottom: 2px solid #30c1ff;
		}
		.services{
			text-align: center;
			img{
				width: 100px;
				display: block;
				margin: 20px auto;
				margin-top: 40px;
			}
		}
	}
	#five{
		padding: 120px 0;
		background-color: #353535;
		h2{
			color: white;
			margin-bottom: 20px;
		}
		p{
			color: white;
		}
		button {
			background-color: transparent;
			border: 1px solid white;
			border-radius: 5px;
			outline: none;
			transition: .3s;
			cursor: pointer;
			color: white;
			&:hover {
				box-shadow: inset 0 0 50px #30c1ff;
			}
		}
	}

	#six{
		padding: 150px 0;
		form{
			margin: 20px auto;
			width: 50%;
			label{
				display: block;
				margin: 0 auto;
				font-weight: bold;
			}
			input{
				width: 100%;
				border-radius: 10px;
				padding-left: 5px;
				border: 1px solid grey;
				height: 40px;
				margin-bottom: 20px;
				outline: none;
			}
			textarea{
				width: 100%;
				height: 150px;
				border-radius: 10px;
				outline: none;

			}
			#submit {
				width: 120px;
				background-color: transparent;
				border: 1px solid grey;
				border-radius: 5px;
				outline: none;
				transition: .3s;
				cursor: pointer;
				&:hover {
					box-shadow: inset 0 0 50px #30c1ff;
				}
			}
		}
	}
	footer{
		padding: 50px 0;
		background-color:#353535 ;
		p{
			color: white;
		}
		img{
			height: 40px;
		}
	}
	.footer-menu{
		text-align: right;
		margin-top: 20px;
	}
}


@import "media"; // Всегда в конце
